<form method="POST" action="api/productos/guardar">
  <div>
    <label for="title">Nombre</label>
    <input type="text" name="title" required>
  </div>
  <div>
    <label for="price">Precio</label>
    <input type="text" name="price" required>
  </div>
  <div>
    <label for="thumnail">link</label>
    <input type="text" name="thumnail" required>
  </div>
  <div>
    <input type="submit">
  </div>
</form>